<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:ctx="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c" xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean name="address" class="com.springcore.springapp.SpringCoreAdvanced.autowired.Address" p:hno="101" p:street="mamilla" p:city="vijayawada" />
	<!-- <bean name="emp" class="com.springcore.springapp.SpringCoreAdvanced.autowired.Employee"  autowire="byType"></bean>
     <bean name="emp" class="com.springcore.springapp.SpringCoreAdvanced.autowired.Employee" autowire="byName">
     </bean>
    -->
    <bean name="emp" class="com.springcore.springapp.SpringCoreAdvanced.autowired.Employee" autowire="constructor">
    </bean>
</beans>